<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <!-- 定义htmlhead片段代码 -->
  <head th:fragment="htmlhead">
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="renderer" content="webkit" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <meta name="description" content=""></meta>
    <meta name="author" content=""></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"></meta>
    <link rel="icon" href="/img/icon.ico" type="image/x-icon" />
   	<title th:text="${title}"></title>
   	
   	<!-- 添加样式文件 link ... -->
   	
  </head>

  <body class="layout-fixed">
  	<!-- 
  		定义layout片段
  		使用replace方式将模板中的内容替换到布局页面 
  		页面的引用信息 templatename::fragmentname，即模板名::片段名
  		-->
    <div th:fragment="layout"  class="wrapper" >
		<div th:replace="fragments/header :: header">Header</div>
		<div th:replace="fragments/left :: left">left</div>
		<div th:replace="fragments/sidebar :: sidebar">sidebar</div>
		<!-- data-layout-fragment（相当于layout:fragment） -->
		<div id="content" data-layout-fragment="content" >
			替换文档内容
		</div>
		<div th:replace="fragments/footer :: footer">footer</div>
    </div>
    
    <!-- 下方放置待引入的script脚本文件 -->
</body>
</html>